/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    height: 50px;
}
/* FIM GLOBAL */
/* HEADER */
.header {
    background-color: #8CFEEB;
    height: 100px;
    padding-top: 0px;
    border-bottom: white solid 5px;
}

.title-header img{
    height: 120px;
    width: 140px;
    position: relative;
}

.nav .current a,
.header {
    /* COR DO TEXTO */
    color: black;
}
/* FIM HEADER */
/* NAV */
.nav ul
{
    margin: 0;
}

.title-header {
    float: left;
}

.nav {
    float: center;
}

.nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.nav li {
    display: inline-block;
    padding: 20px;
    padding: 40px 70px 0 20px;
}
/* FIM NAV */
/* SHOWCASE */
.showcase {
    background-image: url(../Imagens/caminhao2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* CENTRALIZA O TEXTO */
    text-align: center;
    min-height: 100vh;
}

.showcase h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 80px;
}

.showcase p {
    font-size: 22px;
}
/* FIM SHOWCASE */
/* NEWS */
.news {
    padding: 30px 0px 20px 0px;
    background-color:  #8CFEEB;
    color: black;
}

.news h2 {
    margin: 0;
    float: left;
}

.news form {
    float: right;
}

.news input {
    height: 20px;
    width: 225px;
}
/* FIM NEWS */
/* VALORES */
.box {
    overflow: auto;
}

.box .box-item {
    text-align: center;
    width: 300px;
    float: left;
    margin: 35px 102px;
}

.box img{
    height: 100px;
}
/* FIM VALORES */
/* FOOTER */
.footer {
    background-color: #8CFEEB;
    height: 100px;
}

.footer h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
/* FIM FOOTER */
/* SOBRE NOS */
.sobrenos {
    background-image: url(../Imagens/sobre1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color:dimgrey;
    text-align: center;
    min-height: 100vh;
}

.sobrenos h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 150px;
}

.sobrenos p {
    font-size: 32px;
}
/* FIM SOBRE NOS */
/* EQUIPE */
.equipe {
    background-image: url(../Imagens/equipe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
}

.equipe h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 35px;
}

.equipe p {
    font-size: 32px;
}
/* FIM EQUIPE */
/* MONITORAMENTO*/
.monitoramento {
    background-image: url(../Imagens/manuntenção1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
}
/* FIM MONITORAMENTO*/
/* CONTATO */
.contato {
    background-image: url(../Imagens/contato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 1150px;
}

.contato h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 35px;
}

.contato p {
    font-size: 32px;
}