/* FOOTER */
.footer-index {
    background-color: aqua;
    height: 100px;
    margin-top: 4px;
}
.footer-index h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
.footer-sabotage {
    background-color:  aqua;
    height: 100px;
    margin-top: 1px;
}
.footer-sabotage h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
.footer-racionais {
    background-color: aqua;
    height: 100px;
    margin-top: 1px;
}
.footer-racionais h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
.footer-login {
    background-color: aqua;
    height: 100px;
    margin-top: 4px;
}
.footer-login h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
.footer-cadastro {
    background-color: aqua;
    height: 100px;
    margin-top: 4px;
}
.footer-cadastro h4 {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: black;
    font-weight: 100;
}
/* FIM FOOTER */