/* LOGIN */
.login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: black;
    text-align: center;
    min-height: 575px;
}
.login input {
    text-align: center;
    height: 30px;
    border-radius: 10px;
    width: 270px;
    margin-top: 15px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
}
#usuario {
    text-transform: capitalize;
}
.login .container {
    background-color: white;
    min-height: 475px;
    width: 400px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 0;
}
.botao {
    background-color: aqua;
    color: black;
    border-radius: 100px;
    border-color: aqua;
    width: 100px;
    height: 30px;
    font-size: 17px;
    outline: none;
}   
#img {
    background-image: url(../imagens/Imagem_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* FIM LOGIN */