.cadastro {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: black;
    text-align: center;
    min-height: 575px;
}
.cadastro input {
    text-align: center;
    height: 30px;
    border-radius: 10px;
    width: 270px;
    margin-top: 15px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
}
.cadastro .container {
    background-color: white;
    min-height: 475px;
    width: 400px;
    border-radius: 10px;
    margin: 0;
}

#img{
    background-image: url(https://i.pinimg.com/originals/00/64/92/006492044d1a371d17b6d70c0c19d8af.jpg);
    background-size: contain;

}

.botao {
    background-color: aqua;
    color: black;
    border-radius: 100px;
    border-color: aqua;
    width: 100px;
    height: 30px;
    font-size: 17px;
    outline: none;
}   
#usuario {
    text-transform: capitalize;
}
.cadastro-img .container {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
}