/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    /* LARGURA */
    width: 80%;
    margin: auto;
    height: 50px;
}
/* FIM GLOBAL */
/* HEADER */
.header-1 {
    background-color: aqua;
    height: 80px;
    padding-top: 30px;
}
.redes-sociais {
    width: 26%;
    float: right;
    margin-top: -15px;
}
.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
}
.header-2 {
    background-color: white;
    height: 80px;
    padding-top: 30px;
    border-bottom: orangered solid 3px;
}
.header-2 .nav .current a {
    color: orangered;
}
/* FIM HEADER */
/* NAV */
.nav {
    float: right;
}
.nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}
.nav li {
    display: inline-block;
    margin-left: -336px;
    margin-right: 434px;
    padding-top: 17px;
}
.nav ul {
    margin: 0;
}
/* FIM NAV */
/* SHOWCASE */
.showcase {
     background-image: url(../imagens/index.png);
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
     text-align: center;
     min-height: 579px;
 }
 .showcase h3 {
     text-align: center;
     font-family: fangsong;
 }
/* FIM SHOWCASE */
.col-100 {
    width: auto;
}
button.slick-prev {
    font-size: 0px; /* RESERTO A FONTE */
    border: none; /* TIRAR A BORDA DO BOTﾃグ PADRﾃグ */
    width: 25px; 
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imagens/anterior.png);
    top: 35%;
    left: 14%;
}
button.slick-next {
    font-size: 0px; /* RESERTO A FONTE */
    border: none; /* TIRAR A BORDA DO BOTﾃグ PADRﾃグ */ 
    width: 25px; 
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imagens/proximo.png);
    top: 35%;
    right: 14%;
}
.info-sabotage .texto {
    border-radius: 20px;
    width: auto;
}
.texto {
    color: white;
    text-align: center;
    padding: 200px;
    background-color: gray;
    margin-top: 5px;
    height: 100px;
}
.info-racionais .texto {
    border-radius: 20px;
    width: auto;
}
.clipe-total {
    width: 100%;
    display: flex;
    justify-content: center;
}
.clipe {
    width: 70%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.clipe video {
    width: 400px;
    height: 240px;
    float: center;
    margin: 10px;
}